.box {
    font-size: 50px;
    color: white;
    padding: 10px;
    text-align:center;
    font-family: lato;
    font-weight: 300;
    box-sizing: border-box;
  }

  .box-1 {background: #e51400; }
  .box-2 {background: #fa6800;}
  .box-3 {background: #f0a30a; }
  .box-4 {background: #e3c800; }
  .box-5 {background: #a4c400;}
  .box-6 {background: #60a917;}
  .box-7 {background: #00aba9;}
  .box-8 {background: #1ba1e2;} 
  .box-9 {background: #aa00ff;}

  #flex-box {
    display: flex;
    /* flex-direction: row; This is default*/
    /* flex-direction: row-reverse; reverses the items in the container*/
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap - default */
    /* flex-wrap: warp; */
    /* flex-wrap: wrap-reverse; */
  }